# ignore python object files anywhere in the tree
*.pyc
*.swp
*~
*.so
\#*\#
.coverage
*.egg-info
.DS_Store
build/
dist/
plots/
doc/html/
*.c
*.cpp
*.html
*.pdf
*.ps
*.log
*.dvi
*.blg
*.bbl
*.aux
.dotest
*.npy
*.p
*.png
*.eps
olddata/
core
*.results
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
.nfs*
*-bk
.tmp.*
semantic.cache
doc/.build
